<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiquel.shank"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.mobiquel.shank.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="com.mobiquel.urbanclap.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- This app has permission to register and receive data message. -->

    <application
        android:name="com.mobiquel.shank.ShankApplication"

        android:allowBackup="true"
        android:icon="@drawable/shank_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mobiquel.shank.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAMHP6i6no9DlaTGEms2af22mcG7isWS9U" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mobiquel.shank.MobileOTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>


        <activity
            android:name="com.mobiquel.shank.RegisterFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.mobiquel.shank.Home"
            android:screenOrientation="portrait"
            android:theme="@style/Widget.Styled.ActionBar"></activity>
        <activity
            android:name="com.mobiquel.shank.CompanyHome"
            android:screenOrientation="portrait"
            android:theme="@style/Widget.Styled.ActionBar"></activity>
        <activity
            android:name="com.mobiquel.shank.CompanyHomeHR"
            android:screenOrientation="portrait"
            android:theme="@style/Widget.Styled.ActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|stateAlwaysHidden"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.CompanyHomeCorporate"
            android:screenOrientation="portrait"
            android:theme="@style/Widget.Styled.ActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.CompanyHomeType"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.mobiquel.shank.ServicesAndSkillsSecond"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobiquel.shank.ServicesAndSkillsFirst"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobiquel.shank.Materials"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobiquel.shank.UpdateProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.UpdateCompanyProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.KYCDocument"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.mobiquel.shank.CompanyKYC"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.mobiquel.shank.BankDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.mobiquel.shank.VehicleDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.AddTechnician"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.LeaveRequests"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.ShowCompanyStatus"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.ReferTechnicianCompany"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.AddTechnicianForTechnician"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.TermsOfUse"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.ContactUs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.HowItWorks"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.SettingsTechnician"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>
        <activity
            android:name="com.mobiquel.shank.SettingsCompany"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"

            ></activity>

        <receiver android:name="com.mobiquel.shank.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mobiquel.shank.utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mobiquel.shank.mapclasses.GPSReceiver" />
        <receiver android:name="com.mobiquel.shank.mapclasses.SendGPSLocation" />
    </application>

</manifest>